
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
            <div class="card col-md-10 mx-auto px-0 mt-5 border-0">
                <div class="card-title rounded-top w-100 text-img-bg display-4 text-white py-5 mx-0">
                Welcome to<br/>Simple Account Manager
                </div>
                <div class="card-body">
                    <p>
                    <a class="text-primary" asp-area="Identity" asp-page="/Account/Login">Login</a> 
                    or 
                    <a class="text-primary" asp-area="Identity" asp-page="/Account/Register">Create new Account</a>
                    to remember and manage all your accounts in one place!</p>
                </div>
            </div>
</div>
